<!DOCTYPE html>
<html ng-app="ninjaUI">
    <head>
        <!-- Angular material -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
        <!-- Roboto -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <!-- Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <meta name="viewport" content="initial-scale=1" />

        <!-- Table -->
        <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>

        <!-- Me -->
        <link rel="stylesheet" href="ninjaUI.css">
    </head>
    <body layout="column" ng-controller="ninjaAll">
        <section ng-controller="ninjaNav">
            <md-toolbar layout="row" class="md-whiteframe-2dp">
                <div class="md-toolbar-tools">
                    <md-button ng-click="toggleSidenav('left')" hide-gt-sm class="md-icon-button">
                        <md-icon aria-label="Menu" class="material-icons">menu</md-icon>
                    </md-button>
                    <h1>Burst.ninja</h1>
                    <span flex></span>
                    <h1>{{ninjaData.timeToGo | formatSeconds}}
                        /
                        {{ninjaData.totalTime | formatSeconds}}
                        to go
                    </h1>
                </div>
            </md-toolbar>
        </section>
        <div layout="row" flex>
            <md-sidenav layout="column" class="site-sidenav md-sidenav-left md-whiteframe-2dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
                <md-content flex role="navigation">
                    <md-list>
                        <md-list-item>
                            <md-button ng-click="ul.selectUser(it)" class="selected">
                                <md-icon class="material-icons">pool</md-icon>
                                Pool
                            </md-button>
                        </md-list-item>
                        <md-list-item>
                            <md-button ng-click="ul.selectUser(it)" ng-class="">
                                <md-icon class="material-icons">explore</md-icon>
                                Explorer
                            </md-button>
                        </md-list-item>
                        <md-list-item>
                            <md-button ng-click="ul.selectUser(it)" ng-class="">
                                <md-icon class="material-icons">payment</md-icon>
                                Faucet
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-sidenav>
            <div layout="row" flex id="content" ng-controller="ninjaAccounts">
                <md-content layout="column" flex>
                    <div layout="row">
                        <!--<md-data-table-container flex="50" class="md-padding">
                            <table md-table>
                                <tbody>
                                    <tr>
                                        <th>Best dealine</th>
                                        <td>{{ninjaData.totalTime | formatSeconds}}</td>
                                    </tr>
                                    <tr>
                                        <th>First miner to submit</th>
                                        <td><a href="http://burstcoin.biz/address/{{ninjaData.block.awards['First Miner To Submit'].accountId}}" target="_blank">{{ninjaData.block.awards['First Miner To Submit'].accountId}}</a></td>
                                    </tr>
                                    <tr>
                                        <th>Miners responded</th>
                                        <td>{{ninjaData.block.awards['Miners Responded']}}</td>
                                    </tr>
                                    <tr>
                                        <th>Last miner to submit</th>
                                        <td><a href="http://burstcoin.biz/address/{{ninjaData.block.awards['First Miner To Submit'].accountId}}" target="_blank">{{ninjaData.block.awards['Last Miner To Submit'].accountId}}</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-data-table-container>-->
                        
                        <div flex>
                            <section>
                                <div google-chart chart="ninjaData.currentShareChart"></div>
                            </section>
                        </div>
                        
                        <div id="popupContainer">
                            <md-button class="md-fab" aria-label="Getting started" ng-click="showAlert($event)">
                                <md-icon class="material-icons">info</md-icon>
                                <md-tooltip md-direction="left">
                                    Getting started
                                </md-tooltip>
                            </md-button>
                            
                            <!--<md-button class="md-primary md-raised" ng-click="showAlert($event)"   >
                                Getting started
                            </md-button>-->
                        </div>
                    </div>

                    <md-tabs md-border-bottom flex>
                        <!-- md-dynamic-height-->
                        <md-tab label="Accounts">
                            <md-data-table-container>
                                <table md-table>
                                    <div ng-if="ninjaData.loading < 3" layout="row" layout-sm="column" layout-align="space-around">
                                        <md-progress-circular md-mode="indeterminate" class="md-primary" md-diameter="60"></md-progress-circular>
                                    </div>
                                    <thead md-head md-order="table.order">
                                        <md-content></md-content>
                                        <tr md-row>
                                            <!-- this cell will order by the name property -->
                                            <th md-column>
                                                <md-icon aria-label="Colour" class="material-icons">album</md-icon>
                                                <md-tooltip>
                                                    Colour
                                                </md-tooltip>
                                            </th>
                                            <th md-column>
                                                <span class="account-span">Account</span>
                                                <md-input-container>
                                                    <label>Search</label>
                                                    <input ng-model="table.search" ng-value="">
                                                </md-input-container>
                                            </th>
                                            <!-- this cell will not change the order when clicked -->
                                            <th md-column md-order-by="estimatedCapacityTB" md-numeric>
                                                <span>Capacity (TB)
                                                    <md-tooltip>
                                                        Rough estimation of miner's mining capacity, calculated based on deadline submissions
                                                    </md-tooltip>
                                                </span>
                                            </th>
                                            <th md-column md-order-by="historicShare" md-numeric>
                                                <span>Historic share
                                                    <md-tooltip>
                                                        % share of block reward if current block is won, based on historic submissions.
                                                    </md-tooltip>
                                                </span>
                                            </th>
                                            <th md-column md-order-by="share" md-numeric>
                                                <span>Current share
                                                    <md-tooltip>
                                                        % share of block reward if current block is won, based on current best deadline.
                                                    </md-tooltip>
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody md-body flex>

                                        <tr md-row ng-repeat="account in ninjaData.accounts | orderBy: table.order" ng-if="account.accountName.toLowerCase().indexOf(table.search.toLowerCase()) > -1 || account.account.toLowerCase().indexOf(table.search.toLowerCase()) > -1">

                                            <!--  | limitTo: table.limit: (table.page - 1) * table.limit -->
                                            
                                            <td md-cell>
                                                <md-icon ng-style="{color:account.colour}" aria-label="Colour" class="material-icons">album</md-icon>
                                            </td>
                                            <td md-cell>
                                                <a target="_blank" href="http://burstcoin.biz/address/{{account.accountId}}">
                                                    <md-tooltip md-direction="right">
                                                        Numeric ID: {{account.accountId}}
                                                    </md-tooltip>
                                                    {{account.accountName}}
                                                </a>
                                            </td>
                                            <td md-cell>{{account.estimatedCapacityTB | number:2}}</td>
                                            <td md-cell>{{account.historicShare * 100 | number:2}}%</td>
                                            <td md-cell>
                                                <span ng-show="account.deadline != 999999">
                                                    <span>
                                                        {{account.share * 100 | number:2}}% ({{ account.deadline | formatSeconds }})
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!--<md-table-pagination md-limit="table.limit" md-page="table.page" md-total="{{ninjaData.accounts.length}}"></md-table-pagination>-->
                            </md-data-table-container>
                        </md-tab>

                        <md-tab label="Blocks">
                            <md-data-table-container>

                            </md-data-table-container>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>

        <!-- Angular -->
        <script src="bower_components/angular/angular.min.js"></script>

        <!-- Angular websocket -->
        <script src="bower_components/angular-websocket/angular-websocket.js"></script>

        <!-- Material -->
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-material/angular-material.min.js"></script>

        <!-- table -->
        <script type="text/javascript" src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>
        
        <!-- Charts -->
        <script src="bower_components/angular-google-chart/ng-google-chart.js"></script>

        <!-- Mine -->
        <script src="js/ninjaApp.js"></script>
        <script src="js/ninjaServices.js"></script>
        <script src="js/ninjaControllers.js"></script>
        <script src="js/ninjaFilters.js"></script>
    </body>
</html>