<md-dialog aria-label="Getting started"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Getting started</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>Reward assignment</h2>
                <p>
                    Go to <a href="http://127.0.0.1:8125/rewardassignment.html">http://127.0.0.1:8125/rewardassignment.html</a>, and set it to: 
                </p>
                <pre>BURST-7CPJ-BW8N-U4XF-CWW3U</pre>
            </div>
        </md-dialog-content>
        <!--<md-dialog-actions layout="row">
            <md-button ng-click="hide()">
                Close
            </md-button>
        </md-dialog-actions>-->
    </form>
</md-dialog>